<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <meta charset="UTF-8">
            <title>Sikkerhed i nattelivet</title>
    </head> 
        <body>
            <div class="ContainerForside">
                <div class="IconForside">
                 <img src="https://static.thenounproject.com/png/4778723-200.png" alt="Icon" height="100">
                </div>
            <div class="BoxForside">
              <p>Sikkerhed i nattelivet</p>
              <button class="FirstButtonForside" onclick="openlogin()"> Log in </button>
              <button class="SecondButtonForside" onclick="opensignup()"> Sign in </button>
            </div>

            <div class="SignUp-popup" id="MinSignupPopup"> 
                <form action="/index" class="SignUp-container">
                    <h1>Login</h1>

                    <label for="FuldeNavn"><b>Fulde Navn</b> </label>
                    <input type="text" placeholder="Skriv Fulde Navn" name="FuldeNavn" required>

                    <label for="kode"><b>Aktiveringskode fra produkt</b> </label>
                    <input type="text" placeholder="Aktiveringskode fra produkt" name="kode" required>  

                    <label for="email"><b>Email</b> </label>
                    <input type="text" placeholder="Skriv  Email" name="email" required>

                    <button type="submit" class="btn">Login</button>
                    <button type="button" class="btn cancel" onclick="closesignup()">Luk Ned</button>
                </form>
            </div> 

            <div class="LogIn-popup" id="MinLoginupPopup"> 
                <form action="/index" method="post" class="LogIn-container">
                    <h2>Login:</h2>  

                    <label for="Brugernavn"><b>Brugernavn</b> </label> 
                    <input type="text" placeholder="Skriv brugernavn" id="brugernavn" name="brugernavn" required> 

                    <label for="kode"><b>Kodeord</b> </label>
                    <input type="password" placeholder="Skriv kodeord" id="kode" name="kode" required>  

                    <button type="submit" class="btn" value="Log ind">Login</button>
                    <button type="button" class="btn cancel" onclick="closelogin()">Luk Ned</button>
                </form>
            </div> 

            <script> 
                function opensignup() {
                    document.getElementById("MinSignupPopup").style.display = "block";
                } 

                function closesignup() {
                    document.getElementById("MinSignupPopup").style.display = "none"; 
                } 

                function openlogin() {
                    document.getElementById("MinLoginupPopup").style.display = "block";
                }

                function closelogin() {
                    document.getElementById("MinLoginupPopup").style.display = "none"; 
                }

                
            </script>
        </body>
</html> 